@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #0f0458;
}
.navbar h1 {
  color: #35d2f1;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #35d2f1;
}

.content {
  width: 800px;
  margin: 40px auto;
  padding: 20px;
  font-size: 20px;
}

.products-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.products-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.products-preview h2 {
  font-size: 20px;
  color: #4dcce6;
  margin-bottom: 8px;
}

label {
    color: #4dcce6;
    margin-right: 5px;
}

.frm-novi-proizvod{
  margin-top: 50px;
}

.element {
  font-size: 20px;
  margin-bottom: 10px;
}

#btn {
   color: white;
   background-color: #0f0458;
   border-radius: 8px;
   font-size: 18px;
   padding: 10px 10px;
}

input {
  font-size: 20px;
}